/* 02-flexbox-navbar.css - Assignment 2 Flexbox Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;
  background: #222;
  padding: 1em;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
